.profile {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -250px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.profile-image {
    height: 100%;
    width: 40%;
    text-align: center;

    .round {
        border-radius: 100px;
        border: 5px solid #b08080;
    }
}

.profile-heading {
    position: absolute;
    top: 40px;
    left: 200px;
}
