.profile-tabs {
    @include box-sizing(border-box);
    position: relative;
    padding-top: 30px;
    height: 270px;
    color: $font-color;
}

.profile-tab-item {
    text-align: left;
    height: 100px;
    width: 300px;

    ul li {
        list-style-type: none;
    }
}


.tab {
    position: absolute;
    top: 140px;
    left: 200px;

    &.fade {
        opacity: 0;
        @include transition(opacity .5s linear);
    }
    &.active {
        opacity: 1;
    }
}


.nav-tabs {
    margin: 0;
    padding: 0;
    text-align: center;
    clear: both;
    width: 500px;
    height: 30px;

    li {
        cursor: pointer;
        width: 250px;
        height: 30px;
        list-style-type: none;
        float: left;

        &.active {
            @include linear-gradient(#f5eded, #fff);
            box-shadow: 0 0 1px rgba(0,0,0,0.5);
        }

        a {
            text-align: center;
            text-decoration: none;
            color: #c6a9b9;
        }
    }
}

