.profile-tabs {
    @include box-sizing(border-box);
    position: relative;    
    height: 275px;
    color: $font-color;
}

.profile-tab-item {
    text-align: left;
    height: 100px;
    width: 300px;    

    ul {
        margin: 0;
        padding: 0;

        li {
        list-style-type: none;
        padding-bottom: 15px; 

        }    
    }     
}


.tab {
    position: absolute;
    top: 154px;
    left: 187px;

    &.fade {
        opacity: 0;
        @include transition(opacity .5s linear);
    }
    &.active {
        opacity: 1;
    }
}


.nav-tabs {
    margin: 0;
    padding: 0;
    text-align: center;
    clear: both;
    width: 500px;
    height: 40px;

    li {
        @include box-sizing(border-box);        
        cursor: pointer;
        width: 250px;
        height: 40px;
        list-style-type: none;
        float: left;
        font: bold 14px sans-serif;               

        &.active {
            @include linear-gradient(#f9eded, #fff);
            box-shadow: 0 0 1px rgba(0,0,0,0.5);            
            
            a {
                color: #c27f7f;
            }
        }

        a {    
            color: #e0bfbf;            
            text-align: center;
            text-decoration: none;            
        }
    }

    li:first-child {
        padding: 14px 82px 0 74px;
    }

     li:last-child {
        padding: 14px 72px 0 82px;
    }


}

