body {
  background: #e8e8e8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  font: 100% sans-serif, Arial; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.profile-tabs {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-top: 30px;
  height: 270px;
  color: #5a2d2d; }

.profile-tab-item {
  text-align: left;
  height: 100px;
  width: 300px; }
  .profile-tab-item ul li {
    list-style-type: none; }

.tab {
  position: absolute;
  top: 140px;
  left: 200px; }
  .tab.fade {
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    transition: opacity .5s linear; }
  .tab.active {
    opacity: 1; }

.nav-tabs {
  margin: 0;
  padding: 0;
  text-align: center;
  clear: both;
  width: 500px;
  height: 30px; }
  .nav-tabs li {
    cursor: pointer;
    width: 250px;
    height: 30px;
    list-style-type: none;
    float: left; }
    .nav-tabs li.active {
      background-color: #f5eded;
      background-image: -webkit-linear-gradient(#f5eded, #fff);
      background-image: linear-gradient(#f5eded, #fff);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
    .nav-tabs li a {
      text-align: center;
      text-decoration: none;
      color: #c6a9b9; }

.profile {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -250px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.profile-image {
  height: 100%;
  width: 40%;
  text-align: center; }
  .profile-image .round {
    border-radius: 100px;
    border: 5px solid #b08080; }

.profile-heading {
  position: absolute;
  top: 40px;
  left: 200px; }
